amqp
appdirs
argh
asgiref
beautifulsoup4
billiard
black
build
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coreapi
coreschema
coverage
cryptography
defusedxml
distlib
Django
django-appconf
django-autoslug
django-celery-email
django-countries
django-environ
django-filter
django-phonenumber-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
docopt
factory_boy
Faker
filelock
flake8
flower
humanize
idna
inflection
iniconfig
isort
itypes
Jinja2
Js2Py
kombu
MarkupSafe
mccabe
mypy-extensions
oauthlib
packaging
pathspec
phonenumbers
pillow
pip-tools
pipenv
pipwin
platformdirs
pluggy
prometheus-client
prompt_toolkit
psycopg2-binary
pycodestyle
pycparser
pyflakes
pyjsparser
PyJWT
PyPrind
pyproject_hooks
pySmartDL
pytest
pytest-cov
pytest-django
pytest-factoryboy
python-dateutil
python3-openid
pytz
PyYAML
redis
regex
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
text-unidecode
toml
tornado
tzdata
tzlocal
uritemplate
urllib3
vine
virtualenv
watchdog
wcwidth